title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    background-color:  #8290a3;
}

.table-head {
    font-family: Georgia;
    font-weight: 700;
}